.profile {
  color: limegreen;
  font-size: 20px;
  padding-right: 10px;
  text-align: end;
  width: 95%;
}

.links {
  margin-top: 5px;
}

.link {
  background-color: limegreen;
  border: 1px solid lawngreen;
  color: black;
  font-size: 20px;
  padding: 10px 190px;
  text-decoration: none;
}
