.albuns {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.buttonpesquisa {
  background-color: black;
  color: limegreen;
}

.resultados {
  color: limegreen;
}

.nope {
  color: limegreen;
}
